.container {
    padding: 20px;

    .title-row {
        margin-bottom: 20px;

        h2 {
            display: inline;
        }

        button {
            float: right;
        }
    }

    tr {
        cursor: pointer;
    }

    .no-data-info-row {
        height: 40px;
    }

    .guide-info-row {
        margin-top: 20px;
    }
}