.container {
    padding: 20px;

    .title-row {
        margin-bottom: 20px;

        h2 {
            display: inline;
        }

        button {
            float: right;
        }
    }

    tr {
        cursor: pointer;
    }
}